<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>v-for遍历对象</title>
</head>
<body>
<div id="app">
  <ul>
    <li v-for="(value, key) in info">
      {{key + ': ' + value}}
    </li>
  </ul>
  <ul>
    <li v-for="(value, key, index) in info">
      {{(index+1) + '  ' + key + ': ' + value}}
    </li>
  </ul>
</div>
<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      info:{
        name: 'Zhou',
        age: 18,
        height: 1.70,
      },
    },
  })
</script>
</body>
</html>